*{
    background-color:white;
}

h1{
    font-color:red;
    text-align: center;
    text-align: right;
    text-align: left;
}

span{
    text-align: center;
    font-size: large;
}

p{
    text-align: center;
    font-size: large;
    text-decoration: solid;
}

