*{
    text-align: center;
}
#head{
    color: white;
    padding: 10px;
    border-radius: 2px;
}

#foot{
    color: white;
    padding: 10px;
}

#box{
    background-color:black;
    margin: 10px;
    color: yellow;
}

#agree {
    position: absolute;
    left: 400px;

   
}


