body{
    background-color: rgb(4, 4, 29);
}


ul{
    list-style-type:none;
    background-color: black;
    height: 60px;
    padding:10px;
    border: 5px solid white;


    
}


li a{
    float:left;
    padding-right: 200px;
    text-decoration: none;
    color:white;


   
}

.amazon{
    color: orange;
    font-size: 25px;

}

button{
    background-color:orange;
    color:white; 
}

