
nav {
    background-color: black;
    padding:15px;
    border: 2px solid black;
    color:white;


}
nav span{
    margin: 130px;
}

#main{
    color: orange;
    font-size: 25px;
}

input{
    padding: 4px;

}
button {
    background-color: orange;
    color:white;
    padding: 4px;
    border-radius: 5px;
}

#bg {
    background-color: rgb(151, 151, 151);
}

.content1{
    background-color: rgb(0, 0, 255,0.5);
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 40px;
    border: 2px black solid;
    position: relative;
    left: 300px;
    top: 150px;
}

.content2{
    background-color: rgb(255, 115, 0,0.5);
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 40px;
    border: 2px black solid;
    position: relative;
    left: 600px;
    top: 0px;
    bottom: 10px;

}

.content3 {
    background-color: rgb(6, 128, 0,0.5);
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 40px;
    border: 2px black solid;
    position: relative;
    left: 1000px;
    bottom: 200px;
   
    
}










