nav {
    background-color: black;
    padding:15px;
    border: 2px solid black;
    color:white;


}
nav span{
    margin: 130px;
}

#main{
    color: orange;
    font-size: 25px;
}

input{
    padding: 4px;

}
button {
    background-color: orange;
    color:white;
    padding: 4px;
    border-radius: 5px;
}

#one{
    background-color: rgb(33, 14, 5);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#two{
    background-color: rgb(24, 22, 4);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#three{
    background-color: rgb(65, 69, 46);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

span{
    background-color: black;
    color: orange;
    text-align: center;
    border: 2px solid black;
    font-size: larger;
   
    
    

}
