
*{
    margin: 0;
    padding: 0;
    font-style:normal;
}

nav{
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;
}

section{
    display: none;
}

nav span{
    padding: 8px;
    margin: 0px 10px 0px 10px;
}

section .list-container {
    /* border: 2px solid white; */
    text-align: center;
    display: inline-block; 
    position: relative;
    left: 20px;
    margin: 8px;
}

section ul{
    list-style: none;
    display: inline-block;
    margin: 0px 8px 0px 8px;
    line-height: 2;
    padding: 8px;
    text-align: justify;
}

.list-items{
    position:relative;
    bottom:75px;
}

.section-1 .big{
    font-size: 23px;
    font-weight: bold;
    position: relative;
    right: 100px;
}

.store:hover ~ .section-1 {
    display:block;
}

.section-2 .big{
    font-size: 23px;
    font-weight: bold;
}

.mac:hover ~ .section-2 {
    display:block;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    
}






