nav {
    background-color: black;
    padding:15px;
    border: 2px solid black;
    color:white;


}
nav span{
    margin: 130px;
}
#brand {
    font-size: large;
}


input{
    padding: 4px;
    border-radius: 4;

}
button {
    background-color: black;
    color:white;
    padding: 4px;
    border-radius: 4px;
}

